-cc=PREFIX/bin/vbccm68k -hunkdebug %s -o= %s %s -O=%ld -quiet -IPREFIX/m68k-kick13/vbcc/include -IPREFIX/m68k-kick13/ndk-include -IPREFIX/m68k-kick13/include
-ccv=PREFIX/bin/vbccm68k -hunkdebug %s -o= %s %s -O=%ld -IPREFIX/m68k-kick13/vbcc/include -IPREFIX/m68k-kick13/ndk-include -IPREFIX/opt/amiga/m68k-kick13/include
-as=PREFIX/bin/vasmm68k_mot -Fhunk -kick1hunks -nowarn=62 -quiet -IPREFIX/m68k-kick13/ndk-include %s -o %s
-asv=PREFIX/bin/vasmm68k_mot -Fhunk -kick1hunks -nowarn=62 -IPREFIX/m68k-kick13/ndk-include %s -o %s
-rm=rm %s
-rmv=rm -v %s
-ld=PREFIX/bin/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -Z -mrel PREFIX/m68k-kick13/vbcc/lib/startup.o %s %s -LPREFIX/m68k-kick13/vbcc/lib -LPREFIX/m68k-kick13/vbcc/include -lvc -o %s
-l2=PREFIX/bin/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -Z -mrel %s %s -LPREFIX/m68k-kick13/vbcc/lib -LPREFIX/m68k-kick13/vbcc/include -o %s
-ldv=PREFIX/bin/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -Z -mrel PREFIX/m68k-kick13/vbcc/lib/startup.o %s %s -LPREFIX/m68k-kick13/vbcc/lib -LPREFIX/m68k-kick13/vbcc/include -lvc -o %s
-l2v=PREFIX/bin/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -Z -mrel %s %s -LPREFIX/m68k-kick13/vbcc/lib -LPREFIX/m68k-kick13/vbcc/include -o %s
-ldnodb=-s
-ul=-l%s
-cf=-F%s
-ml=500
