-cc=PREFIX/bin/vbccm68k -hunkdebug %s -o= %s %s -O=%ld -quiet -IPREFIX/m68k-amigaos/vbcc/include -IPREFIX/m68k-amigaos/ndk-include -IPREFIX/m68k-amigaos/include
-ccv=PREFIX/bin/vbccm68k -hunkdebug %s -o= %s %s -O=%ld -IPREFIX/m68k-amigaos/vbcc/include -IPREFIX/m68k-amigaos/ndk-include -IPREFIX/opt/amiga/m68k-amigaos/include
-as=PREFIX/bin/vasmm68k_mot -Fhunk -phxass -opt-fconst -nowarn=62 -quiet -IPREFIX/m68k-amigaos/ndk-include %s -o %s
-asv=PREFIX/bin/vasmm68k_mot -Fhunk -phxass -opt-fconst -nowarn=62 -IPREFIX/m68k-amigaos/ndk-include %s -o %s
-rm=rm %s
-rmv=rm -v %s
-ld=PREFIX/bin/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib PREFIX/m68k-amigaos/vbcc/lib/startup.o %s %s -LPREFIX/m68k-amigaos/vbcc/lib -LPREFIX/m68k-amigaos/vbcc/include -lvc -o %s
-l2=PREFIX/bin/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib %s %s -LPREFIX/m68k-amigaos/vbcc/lib -LPREFIX/m68k-amigaos/vbcc/include -o %s
-ldv=PREFIX/bin/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib PREFIX/m68k-amigaos/vbcc/lib/startup.o %s %s -LPREFIX/m68k-amigaos/vbcc/lib -LPREFIX/m68k-amigaos/vbcc/include -lvc -o %s
-l2v=PREFIX/bin/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib %s %s -LPREFIX/m68k-amigaos/vbcc/lib -LPREFIX/m68k-amigaos/vbcc/include -o %s
-ldnodb=-s -Rshort
-ul=-l%s
-cf=-F%s
-ml=500
